@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0%;
    padding: 0%;
}

main {
    padding:16px;
}

footer {
    padding: 24px 0px 24px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

nav {
    border-bottom: 1px;
    border-color:black;
    padding: 16px;
}

content-wrap {
    padding-bottom: 2.5rem;
}

page-container {
    position: relative;
    min-height: 100vh;
}

a:hover {
    color: green;
}

a {
    text-decoration: none;
}
